@page "/sales"
@using Microsoft.AspNetCore.Components.QuickGrid
@using Radzen

@inject InvoiceService InvoiceService
@inject NotificationService NotificationService
@inject DialogService DialogService
@inject NavigationManager Navigation
@inject IJSRuntime JS

<h3 class="text-center my-4"><RadzenIcon Icon="trending_up" />Sales</h3>


<div class="container">
    <!-- Start and End Date Inputs -->
    <div class="row mb-3">
        <div class="col-12 col-md-4">
            Start Date:
            <RadzenDatePicker @bind-Value="startDate" DateFormat="MM/dd/yyyy" Change="OnStartDateChanged" />
        </div>
        <div class="col-12 col-md-4">
            End Date:
            <RadzenDatePicker @bind-Value="endDate" DateFormat="MM/dd/yyyy" Change="OnEndDateChanged" />
        </div>
        <div class="col-12 col-md-4">
            Company:
            <RadzenDropDown TValue="string" @bind-Value="selectedCompanyName" Data="companyNames" Placeholder="Select Company"
                            Change="OnCompanyNameChanged" />
        </div>
    </div>


    @if (filteredInvoices != null && filteredInvoices.Any())
    {
        <div class="row">
            <div class="col-12">
                <RadzenDataGrid TItem="Invoice" Data="@filteredInvoices" AllowPaging="true" PageSize="10" AllowSorting="true" AllowColumnReorder="true" ColumnWidth="140px" AllowColumnResize="true" RowSelect="OnRowSelect">
                    <Columns>
                        <RadzenDataGridColumn TItem="Invoice" Title="Invoice Number">
                            <Template Context="invoice">
                                @((invoice.Id + 10000).ToString())
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Invoice" Property="StartDate" Title="Work Date" FormatString="{0:MM/dd/yyyy}" />
                        <RadzenDataGridColumn TItem="Invoice" Property="CompanyName" Title="Company" />
                        <RadzenDataGridColumn TItem="Invoice" Property="PropertyAddress" Title="Property Address" />
                        <RadzenDataGridColumn TItem="Invoice" Property="WorkOrder" Title="Work Order" />
                        <RadzenDataGridColumn TItem="Invoice" Property="AmountCost" Title="Price" />
                        <RadzenDataGridColumn TItem="Invoice" Property="SpecialNote" Title="Special Note" />
                        <RadzenDataGridColumn TItem="Invoice" Property="AmountPaid" Title="Amount Paid" />
                        <RadzenDataGridColumn TItem="Invoice" Property="DatePaid" Title="Date Paid" />
                        <RadzenDataGridColumn TItem="Invoice" Property="CheckNumber" Title="Check Number" />
                        <RadzenDataGridColumn TItem="Invoice" Property="Unit" Title="Unit" />
                        <RadzenDataGridColumn TItem="Invoice" Property="GateCode" Title="Gate Code" />
                        <RadzenDataGridColumn TItem="Invoice" Property="LockBox" Title="Lock Box" />
                        <RadzenDataGridColumn TItem="Invoice" Property="SizeBedroom" Title="Bedrooms" />
                        <RadzenDataGridColumn TItem="Invoice" Property="SizeBathroom" Title="Bathrooms" />
                        <RadzenDataGridColumn TItem="Invoice" Property="JobDescriptionChoice" Title="Job Description" />
                        <RadzenDataGridColumn TItem="Invoice" Property="ContractorName" Title="Contractor Name" />

                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    }

    <div class="d-flex my-3">
        <button class="btn btn-secondary me-2" @onclick="DownloadPDF">Download to PDF</button>
        <button class="btn btn-success me-2" @onclick="DownloadExcel">Download to Excel</button>
    </div>
</div>

@code {
    private DateTime? startDate;
    private DateTime? endDate;

   

    private RadzenDataGrid<Invoice> invoiceGrid;
    private List<Invoice> selectedInvoices = new List<Invoice>();
    private List<Invoice> invoices = new List<Invoice>();
    private List<Invoice> filteredInvoices = new List<Invoice>();

    private string selectedCompanyName = "View All";
    private List<string> companyNames = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            invoices = await InvoiceService.GetInvoicesSales();

            // Extract unique company names from invoices and add "View All"
            companyNames = invoices.Select(i => i.CompanyName).Distinct().ToList();
            companyNames.Insert(0, "View All");

            // Initialize filtered invoices to show all by default
            filteredInvoices = invoices;
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            // Handle the exception as needed
        }
    }

    private void OnCompanyNameChanged(object value)
    {
        selectedCompanyName = value.ToString();
        ApplyFilters();
    }
    private void OnStartDateChanged(DateTime? value)
    {
        OnDateChanged();
    }

    private void OnEndDateChanged(DateTime? value)
    {
        OnDateChanged();
    }
    // Add this method
    private async Task OnRowSelect(Invoice selectedInvoice)
    {
        // Open the dialog and pass the selectedInvoice as a parameter
        var parameters = new Dictionary<string, object>
        {
            { "invoice", selectedInvoice},
        };
        var result = await DialogService.OpenAsync<SalesDetail>("Sales detail", parameters);
    }
    private void OnDateChanged()
    {
        ApplyFilters();
    }
    private void ApplyFilters()
    {
        // Start by showing all invoices
        filteredInvoices = invoices;

        // Apply company name filter
        if (selectedCompanyName != "View All")
        {
            filteredInvoices = filteredInvoices.Where(i => i.CompanyName == selectedCompanyName).ToList();
        }

        // Apply date range filter if both start and end dates are set
        if (startDate.HasValue && endDate.HasValue)
        {
            filteredInvoices = filteredInvoices.Where(i => i.StartDate >= startDate && i.AnticipatedEndDate <= endDate).ToList();
        }
    }

    private async Task DownloadExcel()
    {
        var invoiceData = filteredInvoices.Select(i => new
        {
            i.Id,
            i.TodaysDate,
            i.StartDate,
            i.AnticipatedEndDate,
            i.CompanyName,
            i.AmountCost,
            i.AmountPaid,
            i.CheckNumber,
            i.SpecialNote,
            i.PropertyAddress,
            i.Unit,
            i.GateCode,
            i.LockBox,
            i.SizeBedroom,
            i.SizeBathroom,
            i.WorkOrder,
            i.JobDescriptionChoice
        }).ToList();

        await JS.InvokeVoidAsync("saveAsExcel", invoiceData);
    }

    private async Task DownloadPDF()
    {
        var invoiceData = filteredInvoices.Select(i => new
        {
            i.Id,
            i.TodaysDate,
            i.StartDate,
            i.AnticipatedEndDate,
            i.CompanyName,
            i.AmountCost,
            i.AmountPaid,
            i.CheckNumber,
            i.SpecialNote,
            i.PropertyAddress,
            i.Unit,
            i.GateCode,
            i.LockBox,
            i.SizeBedroom,
            i.SizeBathroom,
            i.WorkOrder,
            i.JobDescriptionChoice
        }).ToList();

        await JS.InvokeVoidAsync("saveAsPDF", invoiceData);
    }
}
