@page "/editcontacts/editcompany"

<div class="container mt-3">
    <!-- Responsive form container -->

    <div class="row mb-3">
        <div class="col-12">
            Company:
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <select @bind-value="selectedValue" @bind-value:event="oninput" @onchange="Done" class="form-select">
                @foreach (var option in options)
                {
                    <option value="@option">@option</option>
                }
            </select>
        </div>
        <div class="col-12 col-md-6">
            <input type="button" value="Add Company" @onclick="AddComp" class="btn btn-primary w-100" />
        </div>
    </div>

    @if (sValue == 5 || sValue == 2)
    {
        <!-- Company Details Form -->
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Company Name" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Owner" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Cell Phone" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="E-mail" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Address" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="City" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Zip" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Special Note" class="form-control" />
            </div>
        </div>
        <!-- Action buttons -->
        <div class="d-flex justify-content-between">
            <input type="button" value="Cancel" class="btn btn-danger" />
            <input type="button" value="Submit" @onclick="Done" class="btn btn-success" />
        </div>
    }

    @if (sValue == 2 || sValue == 3)
    {
        <div class="row mt-4" @onclick="Done3">
            <div class="col-12 mb-2">property 1</div>
            <div class="col-12 mb-2">property 2</div>
            <div class="col-12 mb-2">property 3</div>
        </div>
        <div class="mt-2">
            <input type="button" value="Add Property" @onclick="Done2" class="btn btn-info" />
        </div>
    }

    @if (sValue == 3)
    {
        <!-- Information imported from database -->
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Existing Company" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Owner" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Cell Phone" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="E-mail" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Address" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="City" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Zip" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Special Note" class="form-control" />
            </div>
        </div>
        <!-- Action buttons -->
        <div class="d-flex justify-content-between">
            <input type="button" value="Cancel" class="btn btn-danger" />
            <input type="button" value="Submit" class="btn btn-success" />
            <input type="button" value="Revert" class="btn btn-warning" />
        </div>
    }

    @if (sValue == 4)
    {
        <div>
            PropertyName, Address, City, Zip, Supervisor, Manager
        </div>
    }
</div>

@code {
    int sValue = 1;
    private string? selectedValue;
    private string? selectedValue1;
    private List<string> options = new List<string> { "Great Properties, Inc", "Slave Driver Properties", "Usuck Management", "WTF Corp" };
    private List<string> poptions = new List<string> { "Property Address 1", "Property Address 2", "Property Address 3", "Property Address 4" };

    private void Done()
    {
        sValue = 2;
    }
    private void Done2()
    {
        sValue = 3;
    }
    private void Done3()
    {
        sValue = 4;
    }
    private void AddComp()
    {
        sValue = 5;
    }
}
