@page "/editviewcontacts"

<h3 class="text-center my-3">Contacts</h3>

<!-- Use Bootstrap row and col classes for responsiveness -->
<div class="row justify-content-center">
    <div class="col-md-6 col-12">
        <RadzenRadioButtonList @bind-Value=@selectedValue TValue="int" class="mb-5">
            <Items>
                <RadzenRadioButtonListItem Text="Company" Value="1" />
                <RadzenRadioButtonListItem Text="Properties" Value="2" />
                <RadzenRadioButtonListItem Text="Contractor" Value="3" />
                <RadzenRadioButtonListItem Text="Supervisor" Value="4" />
                <RadzenRadioButtonListItem Text="Manager" Value="5" />
            </Items>
        </RadzenRadioButtonList>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8 col-12">
        @if (selectedValue == 1)
        {
            <DKSKOfficial.Frontend.Components.Pages.EditContacts.EditCompanny.Editcompany />
        }
        @if (selectedValue == 2)
        {
            <DKSKOfficial.Frontend.Components.Pages.EditContacts.EditProperties.Editproperties />
        }
        else if (selectedValue == 3)
        {
            <DKSKOfficial.Frontend.Components.Pages.EditContacts.EditContractor.Editcontractor />
        }
        else if (selectedValue == 4)
        {
            <DKSKOfficial.Frontend.Components.Pages.EditContacts.EditSupervisor.Editsupervisor />
        }
        else if (selectedValue == 5)
        {
            <DKSKOfficial.Frontend.Components.Pages.EditContacts.EditManager.Editmanager />
        }
    </div>
</div>

@code {
    public int selectedValue = 1;
}
