
@page "/startjob/1"

<div>Date:  4/1/2024</div> 
<div>Invoice Number:  A4395</div>
<div>Job start date:  4/11/2024</div>
<div>Anticipated completion date:  4/15/2024</div>
<div>Property address:  11223 Anyplace Drive, Somewhere 99221</div>
<div>Unit #:  E112</div>
<div>Gate code: None</div>
<div>Lock box:  3345</div>
<div>Size:  3 Bedrooms, 2 Bathrooms</div>
<div>Work order:  2213</div>
<div>Job description:  interior walls, closet inside, ceiling:  $3392.33</div>
<div>Contractor:  Shanghai Bill</div>
<div>Total cost:  $3392.33</div>
 

<div>
    <input type="button" value="Back" />   <input type="button" value="Submit" />
 
</div>





