<h3>Start Work Order</h3>
@page "/startjob"
@inject NavigationManager NavigationManager

<div>
    Today's Date:  <input type="date" />
</div>
<div>
    Job Start Date:  <input type="date" />
</div>
<div>
    Anticipated Completion:  <input type="date" />
</div>
 <div>
     Company Name:  <input type="text" />
 </div>
 <div>
    Property Address:  <input type="text" />       
 </div>
 <div>
    Unit#:  <input type="text" />
 </div>
 <div>
    Gate code:   <input type="text" />
 </div>
 <div>
    Lock box:   <input type="text" />
 </div>
 <div>Size:  <input type="text" value="Bedroom" />, <input type="text" value="Bathroom"/></div>
 <div>
     Work Order:  <input type="text" />
</div> 
<div><DKSKOfficial.Components.Pages.JobDescriptionFolder.Jobdescription></DKSKOfficial.Components.Pages.JobDescriptionFolder.Jobdescription></div>
<div>Contractor:  <Contractors></Contractors></div>


 <div>
     <input type="button" value="Cancel"/>

     <input type="button" value="Submit" @onclick="Alldone" />


 </div>


 @code {
    public void Alldone()
    {
        NavigationManager.NavigateTo("/startjob/1");
    }
}

