<h3>JobDescription</h3>

@page "/jobdescription"

<select @bind="selectedValue">
    @foreach (var option in options)
    {
        <option value="@option">@option</option>
    }
</select><div></div>

<RadzenButton Text="Add Another Option" />
<div></div>
Material costs:  <input type="text" />
<div></div><RadzenButton Text="Submit" />
  

@code {
    private string? selectedValue;
    private List<string> options = new List<string> { "interior walls, closet inside, ceiling", "walls, closet inside", "base boards", "kitchen cabinet - inside and outside", "all enamel surfaces including doors, door frames, kitchen, bathrooms", "2 tone colors:  navaho white, swiss coffee", "2 tone colors:  BM1520(Hushed Hue), swiss coffee", "Balcony floor", "Cover flooring and plastic", "Ceiling" };
}
