<h3 class="text-center my-4">Job Description</h3>

<div class="form-group">
    <label for="jobDescription" class="form-label">Job Type*</label>
    <select id="jobDescription" class="form-control" @bind="selectedValue">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>

@* <div class="form-group">
    <label for="price" class="form-label">Price:</label>
    <input id="price" type="number" title="Price" class="form-control" />
</div> *@

@* <RadzenButton Text="Add Another Option" /> *@

<div class="row mb-3">
    <div class="col-md-6">
        <label for="addAnotherOption" class="form-label">(add another option):</label>
        <input id="addAnotherOption" type="text" class="form-control" />
    </div>
    <div class="col-md-6">
        <label for="materialCosts" class="form-label">Material Costs:</label>
        <input id="materialCosts" type="text" class="form-control" />
    </div>

</div>

@code {
    private string? selectedValue;
    private List<string> options = new List<string>
    {
        "interior walls, closet inside, ceiling",
        "walls, closet inside",
        "base boards",
        "kitchen cabinet - inside and outside",
        "all enamel surfaces including doors, door frames, kitchen, bathrooms",
        "2 tone colors: navaho white, swiss coffee",
        "2 tone colors: BM1520(Hushed Hue), swiss coffee",
        "Balcony floor",
        "Cover flooring and plastic",
        "Ceiling"
    };
}
