<h3 class="text-center my-4">Job Description</h3>



@* <div class="form-group">
    <label for="price" class="form-label">Price:</label>
    <input id="price" type="number" title="Price" class="form-control" />
</div> *@

@* <RadzenButton Text="Add Another Option" /> *@

<div class="row mb-3">

    @foreach (var job in jobs)
    {
        <div class="row">
            <div class="form-group col-md-6">
                <label for="jobDescription" class="form-label">Job Type*</label>
                <select id="jobDescription" class="form-control" @bind="job.JobType">
                    @foreach (var option in options)
                    {
                        <option value="@option">@option</option>
                    }
                </select>
            </div>
            <div class="col-md-6 my-4">
                <button class="btn btn-danger" @onclick="(() => RemoveJob(job))">Remove</button>
            </div>
        </div>
    }
    <div class="row mb-3">
        <div class="col-md-12 my-3">
            <button id="addAnotherOption" class="btn btn-primary my-3" @onclick="AddAnotherOption">(add another option)</button>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="materialCosts" class="form-label">Material Costs:</label>
            <input id="materialCosts" type="text" class="form-control" />
        </div>
    </div>


</div>

@code {
    private string? selectedValue;
    private List<string> options = new List<string>
    {
        "interior walls, closet inside, ceiling",
        "walls, closet inside",
        "base boards",
        "kitchen cabinet - inside and outside",
        "all enamel surfaces including doors, door frames, kitchen, bathrooms",
        "2 tone colors: navaho white, swiss coffee",
        "2 tone colors: BM1520(Hushed Hue), swiss coffee",
        "Balcony floor",
        "Cover flooring and plastic",
        "Ceiling"
    };

    private List<Job> jobs = new List<Job>();

    // Model for job description and material costs
    private class Job
    {
        public string JobType { get; set; }
    }

    // Add new job form fields
    private void AddAnotherOption()
    {
        jobs.Add(new Job());
    }

    // Remove job form fields
    private void RemoveJob(Job job)
    {
        jobs.Remove(job);
    }
}
