<h3>FunctionsList</h3>

<select @bind="selectedValue">
    @foreach (var option in options)
    {
        <option value="@option">@option</option>
    }
</select>
<input type="button" value="Submit" @onclick="Done" />



@code {
    private string? selectedValue;
    private List<string> options = new List<string> { "Great Properties, Inc", "Slave Driver Properties", "Usuck Management", "WTF Corp" };
    public void Done()
    {
        selectedValue = "done";
    }
}
   

