@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject IJSRuntime JSRuntime
@inject GlobalStateService GlobalStateService
@code {

    protected override async Task OnInitializedAsync()
    {
        // Retrieve the token from local storage
        var token = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "authToken");

        if (!string.IsNullOrEmpty(token))
        {
            // Call JavaScript function to decode the token
            var payload = await JSRuntime.InvokeAsync<JsTokenPayload>("parseJwt", token);

            if (payload != null)
            {
                GlobalStateService.SetUserRole(payload.Role);

            }
        }
    }

    public class JsTokenPayload
    {
        public string Role { get; set; } // The role property
                                         // Include other properties as needed
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <RadzenIcon Icon="apps" />
            DKSK
        </a>
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

    <nav class="flex-column">
        @if (GlobalStateService.UserRole == "admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="startjob" Match="NavLinkMatch.All">
                <RadzenIcon Icon="description"/>Start Job
            </NavLink>
        </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="activejobs" Match="NavLinkMatch.All">
                <RadzenIcon Icon="work" />Active_Jobs
            </NavLink>
        </div>
        @if (GlobalStateService.UserRole == "admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="createinvoice">
                    <RadzenIcon Icon="receipt_long" />Create Invoice
                </NavLink>
            </div>
        }
        @if (GlobalStateService.UserRole == "admin")
        {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="accountsreceivable">
                    <RadzenIcon Icon="account_balance" />Accounts_Receivable
                </NavLink>
            </div>
        }
        @if (GlobalStateService.UserRole == "admin")
        {

            <div class="nav-item px-3">
                <NavLink href="agingreports" class="nav-link">
                    <RadzenIcon Icon="calendar_today" /> Aging Reports
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">

            <NavLink href="sales" class="nav-link">
                <RadzenIcon Icon="trending_up" />Sales
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="payroll">
                <RadzenIcon Icon="money" /> Payroll
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contractorjobs">
                <RadzenIcon Icon="construction" />Contractor_Jobs
            </NavLink>
        </div>
        @if (GlobalStateService.UserRole == "admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editviewcontacts">
                    <RadzenIcon Icon="contacts" />Contacts
                </NavLink>
            </div>
        }
        @if (GlobalStateService.UserRole == "admin")
        {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="newjobs">
                    <RadzenIcon Icon="add_circle_outline" />New Jobs
                </NavLink>
            </div>
        }
        <!-- Add profile and logout at the bottom -->
        <div class="nav-item px-3 mt-auto">
            <NavLink class="nav-link" href="profile">
                <RadzenIcon Icon="person" />Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <RadzenIcon Icon="exit_to_app" />Logout
            </NavLink>
        </div>
    </nav>
</div>

