@page "/sales"

<h3 class="text-center my-4">Sales</h3>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12">
            <label for="searchOption">Search by:</label>
            <RadzenRadioButtonList id="searchOption" @bind-Value=@selectedValue TValue="int" class="w-100 mb-4">
                <Items>
                    <RadzenRadioButtonListItem Text="Company" Value="4" />
                    <RadzenRadioButtonListItem Text="Property" Value="1" />
                    <RadzenRadioButtonListItem Text="Supervisor" Value="2" />
                    <RadzenRadioButtonListItem Text="Manager" Value="3" />
                    <RadzenRadioButtonListItem Text="Work Order" Value="5" />
                </Items>
            </RadzenRadioButtonList>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            @if (selectedValue == 1)
            {
                <Salesproperty />
            }
            else if (selectedValue == 2)
            {
                <Salessupervisor />
            }
            else if (selectedValue == 3)
            {
                <Salesmanager />
            }
            else if (selectedValue == 4)
            {
                <Salescompany />
            }
            else if (selectedValue == 5)
            {
                <Salesworkorder />
            }
        </div>
    </div>
</div>

@code {
    public int selectedValue = 1;
}
