<h3>Editcontacts</h3>
@page "/editcontacts"


<RadzenRadioButtonList @bind-Value=@selectedValue TValue="int" class="mb-5">
    <Items>
        <RadzenRadioButtonListItem Text="Company" Value="1"/>
        <RadzenRadioButtonListItem Text="Property" Value="2" />        
        <RadzenRadioButtonListItem Text="Contractor" Value="3" />
        <RadzenRadioButtonListItem Text="Supervisor" Value="4"/>
        <RadzenRadioButtonListItem Text="Manager" Value="5"/>

    </Items>
</RadzenRadioButtonList>

@if (selectedValue == 1)
{
        <Editcompany />
}
else if (selectedValue == 2)
{
        <Editproperties />
}
else if (selectedValue == 3) {
 <Editcontractor />
}
else if (selectedValue == 4)
{
    <Editsupervisor />
}
else if (selectedValue == 5)
{
    <Editmanager />
}
 

@code {
    public int selectedValue = 1; 
}