@page "/editcontacts/editcontractor"

<div class="container mt-3">
    <!-- Responsive form container -->
    <div class="row mb-3">
        <div class="col-12 col-md-6">
            Contractor:
            <select @bind-value="selectedValue" @bind-value:event="oninput" @onchange="Done" class="form-select">
                @foreach (var option in options)
                {
                    <option value="@option">@option</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-6">
            <input type="button" value="Add Contractor" @onclick="Done" class="btn btn-primary w-100" />
        </div>
    </div>

    @if (sValue == 2)
    {
        <!-- Contractor Details Form -->
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Contractor Name" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="License Number" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Social Security Number" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="ID" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Payroll Percent" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Cell Phone" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="E-mail" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Address" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="City" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Zip" class="form-control" />
            </div>
            <div class="col-12 col-md-6 mb-3">
                <input type="text" placeholder="Special Note" class="form-control" />
            </div>
        </div>

        <!-- Action buttons -->
        <div class="row mb-3">
            <div class="col-12 col-md-4 mb-2">
                <input type="button" value="Cancel" class="btn btn-danger w-100" />
            </div>
            <div class="col-12 col-md-4 mb-2">
                <input type="button" value="Submit" class="btn btn-success w-100" />
            </div>
            <div class="col-12 col-md-4 mb-2">
                <input type="button" value="Revert" class="btn btn-warning w-100" />
            </div>
        </div>
    }
</div>

@code {
    string? selectedValue;
    int sValue = 1;
    private List<string> options = new List<string> { "Albert", "Al", "Alfred", "Algone" };
    private void Done()
    {
        sValue = 2;
    }
}
