@page "/editcontacts/editcompany"



<div>  another drop down for properties with the company
    <select @bind="selectedValue">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </select>
    <input type="button" value="Submit" @onclick="Done" />
</div>

<div style="display: @(sValue == 2 ? "block" : "none")">
    Information is imported from database
<input type="text" value="Existing Company" />
<input type="text" value="Owner" />
<input type="text" value="Cell Phone" />
<input type="text" value="E-mail" />
<input type="text" value="Address" />
<input type="text" value="City" />
<input type="text" value="Zip" />
    <input type="text" value="Special note" />
    
    <RadzenButton Text="Cancel" />
    <RadzenButton Text="Submit" />
    <RadzenButton Text="Revert" />  should revert 5 steps
</div>



@code {
    int sValue = 1;
    private string? selectedValue;
    private List<string> options = new List<string> { "Great Properties, Inc", "Slave Driver Properties", "Usuck Management", "WTF Corp" };
    private void Done()
    {
        sValue = 2;
    }
}
