@page "/editcontacts/editcontractor"

<div>
    <select @bind-value="selectedValue" @bind-value:event="oninput" @onchange="Done">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </select>

</div>

@if (sValue == 2)
{
        <input type="text" value="Contractor Name" />
    <input type="text" value="License Number" />
    <input type="text" value="Social Security Number" />
    <input type="text" value="ID" />
    <input type="text" value="Payroll percent" />
    <input type="text" value="Cell Phone" />
    <input type="text" value="E-mail" />
    <input type="text" value="Address" />
    <input type="text" value="City" />
    <input type="text" value="Zip" />
    <input type="text" value="Special note" />
    <RadzenButton Text="Cancel" />
    <RadzenButton Text="Submit" />
    <RadzenButton Text="Revert" />
}

@code {
    string? selectedValue;
    int sValue = 1;
    private List<string> options = new List<string> { "Albert", "Al", "Alfred", "Algone" };
    private void Done()
    {
        sValue = 2;
    }

}
