@page "/editcontacts/editsupervisor"


<div>
    Supervisor:  <select @bind-value="selectedValue" @bind-value:event="oninput" @onchange="Done">
        @foreach (var option in options)
        {
            <option value="@option">@option</option>
        }
    </select>
</div>
<div>
    <input type="button" value="Add Supervisor" @onclick="Done1" />
</div>

@if (sValue == 3)
{
    <div>
        <input type="text" value="Supervisor Name" />
    </div>

    <div>
        <input type="text" value="Company" />
    </div>
    <div>
        <input type="text" value="Cell Phone" />
    </div>

    <div>
        <input type="text" value="e-mail" />
    </div>

    <div>
        <input type="text" value="Managers" />
    </div>
    <div>
        <input type="button" value="Add Manager" />
    </div>
    <div>
        <input type="text" value="Properties" />
    </div>
    <div>
        <input type="button" value="Add Property" />
    </div>
    <div>
        <input type="text" value="Special note" />
    </div>
}

@if (sValue == 2)
{
    //Information is imported from database
    <input type="text" value="Supervisor" />
    <input type="text" value="Company" />
    <input type="text" value="Cell Phone" />
    <input type="text" value="E-mail" />
    <div>Managers: </div>
<div>
        Manager 1 <br />
        Manager 2 <br />
        Manager 3 <br />
        Manager 4 <br />
        <input type="button" value="Add Manager" />
    </div>
    <br />
    <div>Properties:</div>
<div>
        Property 1 <br />
        Property 2 <br />
        Property 3 <br />
        <input type="button" value="Add Property" />
</div>
    <input type="text" value="Special note" />

    <input type="button" value="Cancel" />
    <input type="button" value="Submit" />
    <input type="button" value="Revert" />
}

@code {
    int sValue = 1;
    private string? selectedValue;
    private List<string> options = new List<string> { "William", "Will", "Bill", "Billy" };
    private List<string> props = new List<string> { "Ann", "Anne", "Anna", "Annie" };
    private List<string> stuffs = new List<string> { "Prop1", "Prop2", "Prop3", "Prop4" };
    private void Done()
    {
        sValue = 2;
    }
    private void Done1()
    {
        sValue = 3;
    }
}
