<h3>Createinvoice</h3>
@page "/createinvoice"


START JOB GOES INTO CREATE INVOICE.  CREATE INVOICE SHOWS ALL START jOBS AND IS COMPLETED WITH CLICKING BOX OR SOMETHING.
CANCEL BUTTON.

Search by:
<RadzenRadioButtonList @bind-Value=@selectedValue TValue="int" class="mb-5">
    <Items>
        <RadzenRadioButtonListItem Text="All" Value="1" />
        <RadzenRadioButtonListItem Text="Property" Value="2" />
        <RadzenRadioButtonListItem Text="Company" Value="3" />
    </Items>
</RadzenRadioButtonList>


    <div>
    Date:  <RadzenLabel Text="Invoice Date"></RadzenLabel>
    <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue1" ShowCalendarWeek />
</div>
<div>
    Completion date:  <RadzenLabel Text="Job Start Date"></RadzenLabel>
        <RadzenDatePicker @bind-Value=@value Name="RadzenDatePickerBindValue1" ShowCalendarWeek />
 
</div>

@if (selectedValue == 1)
{
    <div>List of all finished start jobs, but not completed</div>
    <input type="button" value="Submit" />
}

@if (selectedValue == 2)
{
    <input type="text" value="all properties everything on startjob, and units"/>
    <input type="button" value="Submit" />
}

@if (selectedValue == 3)
{
    <input type="text" value="Company that has something on startjob, and properties and units" />
    <input type="button" value="Submit" />
}

@code {
    DateTime value;
    int selectedValue = 1;
 
}