<h3>Newjobs</h3>

@page "/newjobs"

<div>
    <div>interior walls, closet inside, ceiling</div>      <input type="text" value="Dollar amount" />
    <div>walls, closet inside</div>  <input type="text" value="Dollar amount" />
    <div>base boards</div>  <input type="text" value="Dollar amount" />
    <div>kitchen cabinet - inside and outside</div>  <input type="text" value="Dollar amount" />
    <div>all enamel surfaces including doors, door frames, kitchen, bathrooms</div>  <input type="text" value="Dollar amount" />
    <div>2 tone colors:  navaho white, swiss coffee</div>  <input type="text" value="Dollar amount" />
    <div>2 tone colors:  BM1520(Hushed Hue), swiss coffee</div>  <input type="text" value="Dollar amount" />
    <div>Balcony floor</div>  <input type="text" value="Dollar amount" />
    <div>Cover flooring and plastic</div>  <input type="text" value="Dollar amount" />
    <div>Ceiling</div>   <input type="text" value="Dollar amount" />
    <input type="button" value="Done" />
    <input type="button" value="Add Job"

</div>
 @code {

}
