@page "/startjob/1"

<div class="container">
    <div class="row mb-3">
        <div class="col-6">Invoice Number:</div>
        <div class="col-6 text-right">A4395</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Today's Date:</div>
        <div class="col-6 text-right">4/1/2024</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Job Start Date:</div>
        <div class="col-6 text-right">4/11/2024</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Expected completion date:</div>
        <div class="col-6 text-right">4/15/2024</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Property Address:</div>
        <div class="col-6 text-right">11223 Anyplace Drive, Somewhere 99221</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Unit #:</div>
        <div class="col-6 text-right">E112</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Gate code:</div>
        <div class="col-6 text-right">None</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Lock box:</div>
        <div class="col-6 text-right">3345</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Size:</div>
        <div class="col-6 text-right">3 Bedrooms, 2 Bathrooms</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Work Order:</div>
        <div class="col-6 text-right">2213</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Job Description:</div>
        <div class="col-6 text-right">interior walls, closet inside, ceiling: $3392.33</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Painter:</div>
        <div class="col-6 text-right">Shanghai Bill</div>
    </div>
    <div class="row mb-3">
        <div class="col-6">Total cost:</div>
        <div class="col-6 text-right">$3392.33</div>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <button class="btn btn-secondary">Back</button>
        <button class="btn btn-primary">Submit</button>
    </div>
</div>
