@page "/"
@inject MyCompanyInfoService MyCompanyInfoService
@inject Radzen.NotificationService NotificationService
@inject GlobalStateService GlobalStateService
@if (myCompanyInfo != null && GlobalStateService.UserRole == "admin")
{
    <div style="margin-bottom: 20px;">
        <RadzenLabel Text="My Company Name" />
        <RadzenTextBox @bind-Value="myCompanyInfo.Name" Style="width: 100%;" />

        <RadzenLabel Text="My Company Phone" />
        <RadzenTextBox @bind-Value="myCompanyInfo.Phone" Style="width: 100%;" />

        <RadzenLabel Text="My Company Email" />
        <RadzenTextBox @bind-Value="myCompanyInfo.Email" Style="width: 100%;" />

        <RadzenLabel Text="My Company Address" />
        <RadzenTextBox @bind-Value="myCompanyInfo.Address" Style="width: 100%;" />

        <RadzenLabel Text="My Company License Number" />
        <RadzenTextBox @bind-Value="myCompanyInfo.LicenseNumber" Style="width: 100%;" />

        <RadzenButton Text="Save Changes" ButtonType="ButtonType.Button" Click="@(args => UpdateCompanyInfo())" Style="margin-top: 20px;" />
        <hr />
    </div>
}

@code {
    MyCompanyInfo myCompanyInfo;

    protected override async Task OnInitializedAsync()
    {
        myCompanyInfo = await MyCompanyInfoService.GetInfoAsync();
    }

    private async Task UpdateCompanyInfo()
    {
        try
        {
            await MyCompanyInfoService.UpdateInfoAsync(myCompanyInfo);

            // Show success notification
            NotificationService.Notify(new Radzen.NotificationMessage
                {
                    Severity = Radzen.NotificationSeverity.Success,
                    Summary = "Success",
                    Detail = "Company info updated successfully",
                    Duration = 3000 // Display for 4 seconds
                });
        }
        catch (Exception ex)
        {
            // Show error notification
            NotificationService.Notify(new Radzen.NotificationMessage
                {
                    Severity = Radzen.NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = $"Failed to update company info: {ex.Message}",
                    Duration = 3000
                });
        }
    }
}
