@page "/newjobs"

<h3 class="text-center my-4">New Jobs</h3>
<div class="container mt-3">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="form-group">
                <label>Interior walls, closet inside, ceiling</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>Walls, closet inside</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>Base boards</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>Kitchen cabinet - inside and outside</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>All enamel surfaces including doors, door frames, kitchen, bathrooms</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>2 tone colors: Navaho white, Swiss coffee</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>2 tone colors: BM1520 (Hushed Hue), Swiss coffee</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>Balcony floor</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>Cover flooring and plastic</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 mb-3">
            <div class="form-group">
                <label>Ceiling</label>
                <input type="text" class="form-control" placeholder="Dollar amount" />
            </div>
        </div>

        <div class="col-12 d-flex justify-content-between">
            <input type="button" value="Done" class="btn btn-primary" />
            <input type="button" value="Add Job" class="btn btn-success" />
        </div>
    </div>
</div>

@code {

}
